<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Update user</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/users/{id}(id=${user.getId()})}" th:object="${user}" id="edituser">
    <div align="center">
        <label for="name">Enter name: </label>
        <br/>
        <input required type="text" th:field="*{name}" id="name"/>
    </div>
    <br/>
    <div align="center">
        <label for="surname">Enter surname: </label>
        <br/>
        <input required type="text" th:field="*{surName}" id="surname"/>
    </div>
    <br/>
    <div align="center">
        <label for="age">Enter age: </label>
        <br/>
        <input type="number" th:field="*{age}" id="age"/>
    </div>
    <br/>
    <div align="center">
        <label for="password">Enter password: </label>
        <br/>
        <input required type="text" th:field="*{password}" id="password"/>
    </div>
    <br/>
    <div align="center">
        <label for="role">Enter role: </label>
        <br/>
        <select id="role" form="edituser" th:field="*{roles}">
            <option value="ROLE_USER">ROLE_USER</option>
            <option value="ROLE_ADMIN">ROLE_ADMIN</option>
        </select>
    </div>
    <br/>
        <div align="center">
            <button type="submit" class="btn btn-primary">Update</button>
        </div>
</form>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>