<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" xmlns:th="http://www.thymeleaf.org">
    <!-- Настройка viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>User page</title>
</head>
<body>

<div class="row">
    <div class="col" style="padding: inherit">
        <h5 th:text="${user.getSurName()} +' with role: '+ ${user.getRoles()}" class="bg-dark text-white"
            style="padding-left: 25px" >
            My Page
        </h5>
    </div>
    <div class="col" align="right" style="padding: inherit">
        <h5 class="bg-dark text-white">
            <a href="/logout" style="padding-right: 25px">
                Logout
            </a>
        </h5>
    </div>
</div>
    <div class="row">
        <div class="col-sm-2">
            <nav class="navbar bg-light">
                <ul class="list-group">
                    <li class="list-group-item active">
                        <a class="nav-link">
                            <p class="text-body">User</p>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-sm-10">
            <div>
                <h3>User information-page</h3>
            </div>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#home">About user</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane container active" id="home">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Name</th>
                            <th scope="col">SurName</th>
                            <th scope="col">Age</th>
                            <th scope="col">Role</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td th:text="${user.getId()}">1</td>
                            <td th:text="${user.getName()}">Mark</td>
                            <td th:text="${user.getSurName()}">Otto</td>
                            <td th:text="${user.getAge()}">Age</td>
                            <td th:text="${user.getRoles()}">Roles</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

<script src="/javascript/userShow.js"></script>
</body>
</html>